# Dev
private/
build/
ori/
.vscode/

# Building

data/US_1.0/code.bin
src/
project/
disassembly/

# Python non public

tools/Bin/
tools/asm-differ/
tools/__pycache__/

# Misc files; not for public
*.json
*.py
*.cpp
*.o
*.s
*.exe
*.axf
*.elf
CMakeLists.txt